.blok {
    position: absolute;
    margin: 20px 0px 0px;
    padding: 0px;
    list-style-type: none;
}

.blok li {
    display: inline-block;
    margin: 0px 5px;
    padding: 0px;
    width: 72px;
    height: 72px;
}

.blok li a img {
    position: absolute;

}


.blok li a:hover img.blok__4 {
    display: block;
    margin-top: -28px;
    margin-left: -28px;
    z-index: 5;
}


.blok li a:hover img.blok__1 {
    display: block;
    margin-top: -28px;
    margin-left: -28px;
    z-index: 5;
}

.blok li a:hover img.blok__2 {
    display: block;
    margin-top: -28px;
    margin-left: -28px;
    z-index: 5;
}


.blok li a:hover img.blok__3 {
    display: block;
    margin-top: -28px;
    margin-left: -28px;
    z-index: 5;
}

.blok__1 {
    position: absolute;
    left: 360px;
    width: 200px;
    z-index: 0;
}

.blok__2 {
    position: absolute;
    left: 520px;
    width: 200px;
    z-index: 1;


}

.blok__3 {
    position: absolute;
    left: 400px;
    bottom: -260px;
    z-index: 3;


}

.blok__4 {
    position: absolute;
    z-index: 2;
    bottom: -355px;
    right: -300px;
}