body {
    padding: 10px;
    margin: 10px;
}

.control {
    display: flex;
    flex-wrap: wrap;
}

.label {
    min-width: 176px;
}

@media screen and (max-width: 768px) {
    .label {
        display: block;
        width: 100%;
    }
}