/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Joan&family=Oswald&display=swap'); */

@font-face {
    font-family: joan;
    font-weight: 400;
    src: url(./fonts/Joan-Regular.ttf) format('ttf')
}

@font-face {
    font-family: oswald;
    font-weight: 400;
    src: url(./Oswald/Oswald-VariableFont_wght.ttf) format('ttf');
}


.title {
    background-image: url(../img/night.jpg);
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    padding: 50px 400px;


}

.center-img {
    text-align: center;
    width: 100%;

}

.text {
    list-style: square;
    line-height: 50px;
    font-weight: bold;
}
 .normal {
     font-weight: normal;
 }
 
.princ {
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    color: black;
    text-indent: 2cm;
    font-size: 20px;

}


.rose {
    font-family: 'joan';
    color: black;
    text-align: right;
    font-size: 30px;
}

body {
    background: #778899;
    color: aliceblue;
}